{
  "presets": ["react", ["env", {
    "targets": {
      "browsers": [
        "Firefox >= 45",
        "Chrome >= 51",
        "Safari >= 9",
        "iOS >= 9",
        "Edge >= 14"
      ]
    },
    "modules": false
  }], "stage-0"]
}
